{% extends 'partials/_head.html' %}
{% load static %}
{% block content %}
            <div class="col mb-5">
              <div class="br-breadcrumb">
                <ul class="crumb-list">
                  <li class="crumb home"><a class="br-button circle" href="javascript:void(0)"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
  
                  <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Tela Atual</span>
                  </li>
                </ul>
              </div>
              <div class="main-content pl-sm-3 mt-4" id="main-content">
                <h2>Apresentação</h2>
                <p class ="paragrafo-introdutorio">Nossa missão é simplificar e otimizar o processo de solicitação de viagens para os cursos vinculados à Universidade Aberta do Brasil - UAB. Para atingir esse objetivo, 
                  desenvolvemos um sistema eficiente e completo que permite aos usuários realizarem suas solicitações de viagem de forma ágil e segura.
                  Para atender as necessidades de viagens dos participantes dos projetos: <b> 054292 - APRIMORAMENTO E MANUTENÇÃO DOS CURSOS DE EDUCAÇÃO A DISTÂNCIA UAB/UFSM </b>
                    e <b>8712 - UFSM/FINANCIAMENTO DOS CURSOS NO ÂMBITO DO SISTEMA UNIVERSIDADE ABERTA DO BRASIL</b>, desenvolvido pela graduanda Kalidsa Oliveira na Coordenadoria de Tecnologia Educacional - CTE.</p>
                <p class ="paragrafo-introdutorio">A baixo serão descritas os requisitos para a solicitação de viagens.</p>
                <h3>Primeiros passos:</h3>
                <p class ="paragrafo-introdutorio">Os cadastro de todos os participantes dos projetos é realizado automaticamente!</p>
                  <p class ="paragrafo-introdutorio">
                  O login de primeiro acesso deve ser realizado por meio de:
                  <div class="col-auto">
                    <ul>
                      <li>Na parte de login deve-se inserir o CPF</li>
                      <li>E a sua senha é sua data de nascimento</li>
                    </ul>
                    <p class ="paragrafo-introdutorio">Recomenda-se realizar a alteração da senha ao acessar sua conta na primeira vez.</p>
                    <p class ="paragrafo-introdutorio">Para fazer login na sua conta você pode <a href="login.html">CLICAR AQUI </a> ou no botão de <b>Entrar</b></p>
                </p>
                <h3>Informações sobre Solicitação de Viagens:</h3>
                <p class ="paragrafo-introdutorio">Para solicitar viagens é necessário informar os seguintes dados:</p>
                <div class="col-auto">
                  <ul>
                    <li>As disciplinas do curso que serão atendidas,</li>
                    <li>a descrição de atividades que serão realizadas,</li> 
                    <li>a data de saída para a viagem, </li>
                    <li>o horário de saída,</li> 
                    <li>o local de saída,</li> 
                    <li>o roteiro da viagens (os municípios em que irá passar do destino inicial ao destino final),</li> 
                    <li>o endereço onde ocorrerá a atividade e</li>
                    <li>marcar a opçãos de solicitar transporte e/ou diárias, se necessário.</li>
                  </ul>
                </p>
              </div>
            </div>
     
{% endblock %}
